.navbar{
    border: 2px solid transparent;
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

.navbar-links {
    color: black;
    list-style: none;
}
a{
    
   text-decoration: none;
}
.navbar-links:hover {
    color: red;
    list-style: none;
}


